@media only screen and (max-width: 800px) {
        nav a {
                max-width: 100%;
                display: block;
                padding: 5px;}
        span {display: none;}
        .blurb {margin: auto; padding-left: 9px;}     
        .embedmap {height: 400px;  }
        }
        .banner {
                width: 93%;
                margin: auto;
                display: block;
                }
        .img {text-align: center;}
        .col1 {
                margin-right: 50px;
        }
        .skills p i {font-size: 1em ;}
        
@media only screen and (min-width: 801px) {
        .blurb {margin-right: 310px;} 
        .banner {margin: 0px 40px 20px 0px; width: 450px;}
        .skills p i {font-size: 4em ;}
    }


body {background-color: #E4E6D9;}

p {
    color: #253528;
    line-height: 1.4;}

/* img {border-radius: .5em;} */

h1, h2 {color: #253528;}


/* navigation css */
nav {background-color:#253528;
        color:#E4E6D9;
        padding: 10px;
        margin-bottom: 30px;
        border: 1px solid #253528;
        text-decoration: none;
        }
    
nav a:link {color: #E4E6D9;}
nav a:visited {color: #E4E6D9;}
nav a:hover {color:#253528; background-color:#E4E6D9; padding:10px;}
    
a:link {color: #253528;}
a:visited {color: #49654E}


/* .active {background-color: #677064; padding:10px; }
li a:hover:not(.active) {
    color:#253528; background-color:#E4E6D9; padding:10px;
  } */





main {margin-left: 20px;}
.copy {
        float: left;
        color: #49654E;}
.quote {
        float: right;
        font-style: italic;
        color: #49654E;
        }

/* .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
*/

.clear {clear: both;}

.banner {float: left;
        padding: 10px;
        border: 2px solid #677064;
        border-radius: .5em;
        background-color: #acbca9;
        max-width: 100%;
        margin: 0px 40px 20px 0px;
        }




.fbox1, .fbox2 {
        display: flex;
        background-color: #ffffff;
        margin: 20px;
        border-radius: 1em;
        padding:15px;}

.fbox1 {align-items: flex-end;}
.fbox1 div {
            flex: .2; 
            padding: 20px; 
            font-size: large;
            }       
.fbox2 {flex-wrap: wrap;}


.cform {
        flex: 1;
        padding:10px;
        margin:10px;
        font-size: large;
        }

.embedmap { flex: 2;
        padding:10px;
        border-radius: .5em;}


/* Skills page */

.evenrow {background-color:#E4E6D9;}
td, th {border: 1px solid #253528;}
table {
        padding: 10px;
        margin: 10px;}

h1 {text-align: center;}

div {color: #253528;
}

aside {
        background-color: #253528; 
        border-radius: .5em; 
        padding: 2px 10px 10px 15px;
        }
aside p, aside h2 {color: #E4E6D9;}

.skills {display: flex; justify-content: space-between; text-align: center;}
.flex2 {display: flex; margin: 10px; flex-wrap: wrap;}
.col1 {flex: 3; margin: auto 40px;}
.col2 {flex: 1;}


.skillspage {margin: 20px 20px 20px 35px;}

