@media only screen and (max-width: 800px) {
    .tpflx, .btmflx, .sbcontainer, .sbcontainer2, .sbcontainer div, .sbcontainer2 div { 
        flex-wrap: wrap;
    }
    
    img {width: 100%;}
    .myosale {
        width: 400px;
    }
    nav a {
        max-width: 100%;
        display: block;
        padding: 5px;}
        nav a:link {color: #FFEAF2; text-decoration: none; margin: 0px; padding: 5px;}
        nav a:visited {padding: 0px; margin: 0px;}
        nav a:hover {padding: 0px; margin: 0px;}
        nav {
            padding: 0px 0px;
            margin: 0px;
            text-align: left;
        }

}
    
@media only screen and (min-width: 801px) {
    nav a:link {color: #FFEAF2; text-decoration: none; margin: 5px 90px;}
    nav {   
         text-align: center;}

}

#skip-to-content {
    position: absolute;
    left: -999px;
    background-color: #FBC5D8;
    border: 1px solid #FBC5D8;
    color: #000000;
    padding: 10px 30px;
}

#skip-to-content:focus {
    position: absolute;
    left: 10px;
}

body { 
    background-color: #fff5f2;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;

}
.name { 
    font-size: 4em;
    font-weight:900;
    text-align: center;
    letter-spacing: 2px;
}
.login {
    text-align: right;
    margin: 0px 20px 0 20px;
}
.login a { 
    text-decoration: none; 
    color: #000000;
}

/* navigation css */
nav {
    padding: 10px;
    font-weight: 600;
    background-color:#FBC5D8;
    border: 1px solid #FBC5D8;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 30px;
    border-radius: 1.5em;
    color: #000000;
}

#eventtab {
    color: #000000;
}


nav a:visited { color: #000000;text-decoration: none;}
nav a:hover {
    background-color:#ffffff;
    padding: 13px 30px;
    text-decoration: none; 
    border: 1px solid #FBC5D8;
    border-radius: 1.5em;
}

.middle {
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
}
/* nav css ends here */

/* home page css*/
main { color: #000000;}
.welcome {
    text-align: center;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}
/* 
.welcome a {
    color: #ffa5c5;
} */
.tpflx, .btmflx { 
    display: flex;
    padding: 20px;
    margin: 10px;
}
.tpflx2 {
    margin: auto 0px;
    padding: 40px;
    border: 2px solid #ffa5c5;
    border-radius: 1.5em;
}
.tpflx2 p {
    line-height: 2;
    font-size: large;
    text-align: center;
}

h1 {
    /* font-size: 4em;
    font-weight:900;
    letter-spacing: 2px; 
    color: #FBC5D8; */
    padding-left: 40px;
}

.news {
    margin: 0 20px;
    padding: 20px 30px;
    border: 2px solid #ffa5c5;
    border-radius: 1.5em;
    text-align: center;
    line-height: 2;
    font-size: large;
    
}

.btmleft {flex: 1;}
.btmright {
    text-align: center;
    flex: 1;
}
/*
.btmright h1 {
    font-size: 4em;
    font-weight:900;
    text-align: center;
    letter-spacing: 2px;
    color: #FBC5D8;
}
*/
.buttons {
    margin: 80px 70px;
}

.buttons p {
    background-color: #FBC5D8;
    padding: 20px 0px;
    border-radius: 1.5em;
    color:#ffffff;
    font-weight: 600;
    color: #000000;
}

.buttons a {
    background-color: #FBC5D8;
    padding: 15px 50px;
    margin: 0px 70px;
    border-radius: 1.5em;
    color:#ffffff;
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

/*
.buttons p a {
    text-decoration: none;
    color:#ffffff;
} */

.buttons p:hover {
    background-color: #ffffff;
    padding: 20px 0px;
    border-radius: 1.5em;
    color: #000000;
    /* color: #FBC5D8; */
    font-weight: 600;
}
/* footer css */
footer {
    background-color: #FBC5D8;
    color: #ffffff;
    padding: 2.5px 10px;
    height: 60px;
    margin-top: 10px;
}

/* masterlist css */

.card {
    border-radius: 1em;
}

a { color: #a70f7c;}

a:hover {
   /* color: #FBC5D8; */
}

/* encylopedia css */

h2 {
    padding-left: 40px;
}


.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

/* slideshow */
#slideshow {
    background-color: #ffffff;
    border: 1px solid #FBC5D8;
    margin: 40px;
    padding: 20px;
    border-radius: 1.5em;
}

#sshow1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
#sshow2 {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#sshow3 {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#sshow4 {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

/* slideshow end */

.faqblock {
    line-height: 2;

    background-color:#ffffff;
    border: 1px solid #FBC5D8;
    margin: 20px 40px;
    padding: 20px;
    border-radius: 1.5em;
}

.appear {
    line-height: 2;

    background-color:#ffffff;
    border: 1px solid #FBC5D8;
    margin: 40px;
    padding: 20px;
    border-radius: 1.5em;
}

.appear p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.clear {
    clear: both;
}


.sbcontainer {
    display:flex;

    line-height: 2;

    background-color:#ffffff;
    border: 1px solid #FBC5D8;
    margin: 40px;
    padding: 20px;
    border-radius: 1.5em;
}

.sbcontainer2 {
    line-height: 2;

    background-color:#ffffff;
    border: 1px solid #FBC5D8;
    margin: 40px;
    padding: 20px;
    border-radius: 1.5em;
}

.sbcontainer div {
    flex: 1;
    margin: 20px;
    padding: 10px;
} 

#soul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

#fleshblood {
    width: 90%;
}

#tear1 {
    width: 90%;
    display: block;
}
#tear2 {
    width: 90%;
    display: none;
}
#wrath1 {
    width: 90%;
    display: block;
}
#wrath2 {
    width: 90%;
    display: none;
}
#eater {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#rightarrow {
    margin-top: 300px;
    display: block;
    width: 5%;
    height: 5%;
}

#leftarrow {
    display: none;
    width: 10%;
    height: 10%;
}