@media only screen and (max-width: 800px) {
    .tpflx, .btmflx { 
        flex-wrap: wrap;
    }
    img {width: 100%;}
    .myosale {
        width: 400px;
    }
}
    
@media only screen and (min-width: 801px) {

}

body { 
    background-color: #fff5f2;
    color: #FBC5D8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.name { 
    font-size: 4em;
    font-weight:900;
    text-align: center;
    letter-spacing: 2px;
}
.login {
    text-align: right;
    margin: 0px 20px 0 20px;
}
.login a { 
    text-decoration: none; 
    color: #ffa5c5;
}

/* navigation css */
nav, {display: flex;}
nav div {
    padding: 0px 5px;
    font-weight: 600;
    color: #ffffff;
}
nav {
    justify-content: space-between;
    background-color: #FBC5D8;
    color:#ffffff;
    border: 1px solid #FBC5D8;
    text-decoration: none;
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 15px 0px 15px 0px;
    padding: 13px 5px;
    border-radius: 1.5em;
}

nav div a:link {color: #FFEAF2; text-decoration: none;}
nav div a:visited {color: #FFEAF2; text-decoration: none;}
nav div a:hover {
    color:#FBC5D8;
    background-color:#ffffff;
    padding: 13px 30px;
    text-decoration: none; 
    border: 1px solid #FBC5D8;
    border-radius: 1.5em;
}

.middle {
    justify-content: space-around;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: 2px;
}
/* nav css ends here */

/* home page css*/
main {color: #ffa5c5;}
.welcome {
    text-align: center;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
}
.welcome a {
    color: #ffa5c5;
}
.tpflx, .btmflx { 
    display: flex;
    padding: 20px;
    margin: 10px;
}
.tpflx2 {
    margin: auto 0px;
    padding: 40px;
    border: 2px solid #ffa5c5;
    border-radius: 1.5em;
}
.tpflx2 p {
    line-height: 2;
    font-size: large;
    text-align: center;
}

h1 {
    font-size: 4em;
    font-weight:900;
    text-align: center;
    letter-spacing: 2px;
    color: #FBC5D8;
}

.news {
    margin: 0 20px;
    padding: 20px 30px;
    border: 2px solid #ffa5c5;
    border-radius: 1.5em;
    text-align: center;
    line-height: 2;
    font-size: large;
    
}

.btmleft {flex: 1;}
.btmright {
    text-align: center;
    flex: 1;
}
/*
.btmright h1 {
    font-size: 4em;
    font-weight:900;
    text-align: center;
    letter-spacing: 2px;
    color: #FBC5D8;
}
*/
.buttons {
    margin: 80px 70px;
}

.buttons p {
    background-color: #FBC5D8;
    padding: 20px 0px;
    border-radius: 1.5em;
    color:#ffffff;
    font-weight: 600;
}

/*
.buttons p a {
    text-decoration: none;
    color:#ffffff;
} */

.buttons p:hover {
    background-color: #ffffff;
    padding: 20px 0px;
    border-radius: 1.5em;
    color: #FBC5D8;
    font-weight: 600;
}
/* footer css */
footer {
    background-color: #FBC5D8;
    color: #ffffff;
    padding: 2.5px 10px;
    height: 60px;
}